# **Project NLP: TripAdvisor Recommendations**
#### By Tiberio Zolzettich & Ocean Spiess
---

### Import of the Dataset

In [1]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("joebeachcapital/hotel-reviews")

print("Path to dataset files:", path)

/Users/oceanspiess/PycharmProjects/ML_NLP/.venv/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Path to dataset files: /Users/oceanspiess/.cache/kagglehub/datasets/joebeachcapital/hotel-reviews/versions/2

In [2]:
import pandas as pd
import numpy as np
import re
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

# Download required NLTK data
nltk.download('punkt')
nltk.download('stopwords') 
nltk.download('wordnet')

# Load the dataset
df = pd.read_csv(f"{path}/reviews.csv")

df.head()

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/oceanspiess/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/oceanspiess/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/oceanspiess/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

,ratings,title,text,author,date_stayed,offering_id,num_helpful_votes,date,id,via_mobile
0,"{'service': 5.0, 'cleanliness': 5.0, 'overall'...","“Truly is ""Jewel of the Upper Wets Side""”",Stayed in a king suite for 11 nights and yes i...,"{'username': 'Papa_Panda', 'num_cities': 22, '...",December 2012,93338,0,2012-12-17,147643103,False
1,"{'service': 5.0, 'cleanliness': 5.0, 'overall'...",“My home away from home!”,"On every visit to NYC, the Hotel Beacon is the...","{'username': 'Maureen V', 'num_reviews': 2, 'n...",December 2012,93338,0,2012-12-17,147639004,False
2,"{'service': 4.0, 'cleanliness': 5.0, 'overall'...",“Great Stay”,This is a great property in Midtown. We two di...,"{'username': 'vuguru', 'num_cities': 12, 'num_...",December 2012,1762573,0,2012-12-18,147697954,False
3,"{'service': 5.0, 'cleanliness': 5.0, 'overall'...",“Modern Convenience”,The Andaz is a nice hotel in a central locatio...,"{'username': 'Hotel-Designer', 'num_cities': 5...",August 2012,1762573,0,2012-12-17,147625723,False
4,"{'service': 4.0, 'cleanliness': 5.0, 'overall'...",“Its the best of the Andaz Brand in the US....”,I have stayed at each of the US Andaz properti...,"{'username': 'JamesE339', 'num_cities': 34, 'n...",December 2012,1762573,0,2012-12-17,147612823,False

### Data Preparation
- In this data preparation phase, we:
    1. Extracted rating scores from the 'ratings' dictionary into separate columns
    2. Removed unnecessary columns like title, author, dates and metadata
    3. Reordered columns to put offering_id first for better organization
    4. Grouped reviews by offering_id, concatenating all review texts for each hotel
    5. Calculated mean scores for all rating categories (service, cleanliness, etc.)

In [3]:
# Extract ratings dictionary into separate columns
df['ratings'] = df['ratings'].apply(eval)  # Convert string to dictionary
rating_cols = ['service', 'cleanliness', 'value', 'sleep_quality', 'rooms', 'location', 'overall']

for col in rating_cols:
    df[col] = df['ratings'].apply(lambda x: x.get(col))

# Drop unnecessary columns and ratings dictionary
columns_to_drop = ['title', 'author', 'date_stayed', 'num_helpful_votes', 
                  'date', 'id', 'via_mobile', 'ratings']
df = df.drop(columns=columns_to_drop)

# Reorder columns to put offering_id first
cols = ['offering_id'] + [col for col in df.columns if col != 'offering_id']
df = df[cols]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878561 entries, 0 to 878560
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   offering_id    878561 non-null  int64
 1   text           878561 non-null  object
 2   service        760918 non-null  float64
 3   cleanliness    759835 non-null  float64
 4   value          753695 non-null  float64
 5   sleep_quality  500903 non-null  float64
 6   rooms          705404 non-null  float64
 7   location       664904 non-null  float64
 8   overall        878561 non-null  float64
dtypes: float64(7), int64(1), object(1)
memory usage: 60.3+ MB

In [5]:
df = df.dropna(subset=['service', 'cleanliness', 'value', 'sleep_quality', 'rooms', 'location', 'overall'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 436391 entries, 0 to 878552
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   offering_id    436391 non-null  int64
 1   text           436391 non-null  object
 2   service        436391 non-null  float64
 3   cleanliness    436391 non-null  float64
 4   value          436391 non-null  float64
 5   sleep_quality  436391 non-null  float64
 6   rooms          436391 non-null  float64
 7   location       436391 non-null  float64
 8   overall        436391 non-null  float64
dtypes: float64(7), int64(1), object(1)
memory usage: 33.3+ MB

In [6]:
# Group texts by offering_id and concatenate them
df = df.groupby('offering_id').agg({
    'text': ' '.join,
    'service': 'mean',
    'cleanliness': 'mean', 
    'value': 'mean',
    'sleep_quality': 'mean',
    'rooms': 'mean',
    'location': 'mean',
    'overall': 'mean'
}).reset_index()

df.head()

,offering_id,text,service,cleanliness,value,sleep_quality,rooms,location,overall
0,72572,I had to make fast visit to seattle and I foun...,4.601010,4.636364,4.323232,4.333333,4.282828,4.570707,4.388889
1,72579,"Great service, rooms were clean, could use som...",4.232000,4.240000,4.152000,3.768000,3.856000,4.192000,3.888000
2,72586,Beautiful views of the space needle - especial...,4.250000,4.287879,4.053030,4.113636,3.992424,4.537879,4.045455
3,72598,This hotel is in need of some serious updates....,3.243243,3.243243,3.054054,3.270270,3.189189,3.027027,2.918919
4,73236,My experience at this days inn was perfect. th...,4.277778,3.111111,3.777778,3.722222,3.222222,4.111111,3.388889

### Creation of the base model BM25 without pre-processing

#### Overview
- In this phase, we will:
    1. Create a BM25 model using the raw review texts without any pre-processing
    2. This will serve as our baseline model to compare against later versions

In [7]:
from rank_bm25 import BM25Okapi

def build_bm25_model(df):
    """
    Build BM25 model from the text data
    
    Args:
        df: DataFrame containing 'text' column with reviews
        
    Returns:
        BM25Okapi model trained on the corpus
    """
    # Tokenize each document (hotel reviews)
    tokenized_corpus = [doc.split() for doc in df['text']]
    
    # Create and return the BM25 model
    return BM25Okapi(tokenized_corpus)

### Creating Evaluation Functions

#### Overview
- In this phase, we will create functions:
    1. To evaluate our BM25 models
    2. To get the ranking of recommended hotels

In [9]:
def rank_hotels(query, df, bm25_model, top_n=10):
    """
    Rank hotels based on relevance to query using BM25
    
    Args:
        query: Search query string
        df: DataFrame containing hotel data
        bm25_model: Trained BM25 model
        top_n: Number of top results to return
        
    Returns:
        List of tuples containing (offering_id, bm25_score)
    """
    # Clean and tokenize the query using same preprocessing as corpus
    tokenized_query = query.split()
    
    # Get BM25 scores for all documents
    scores = bm25_model.get_scores(tokenized_query)
    
    # Create list of (offering_id, score) tuples
    hotel_scores = list(zip(df['offering_id'], scores))
    
    # Sort by score in descending order and get top_n results
    ranked_hotels = sorted(hotel_scores, key=lambda x: x[1], reverse=True)[:top_n]
    
    return ranked_hotels

In [26]:
def evaluate_recommendations(target_hotel_id, comparison_df, aspects=None):
    """
    Evaluates BM25 recommendations for a target hotel by comparing its BM25 scores with the ratings of recommended hotels.
    
    Args:
        target_hotel_id (int): ID of the target hotel.
        comparison_df (pd.DataFrame): Subsample of 100 hotels for comparison.
        aspects (list, optional): List of aspects to use for calculating MSE.
                                Default: ['service', 'cleanliness', 'value', 'sleep_quality', 'rooms', 'location', 'overall'].
    
    Returns:
        tuple:
            - float: Average MSE of the top 10 most relevant recommendations.
            - list: List of top 10 recommendations with their MSE and BM25 scores.
    """
    if aspects is None:
        aspects = ['service', 'cleanliness', 'value', 'sleep_quality', 'rooms', 'location', 'overall']
    
    # Extract target hotel information
    target_hotel = comparison_df[comparison_df['offering_id'] == target_hotel_id]
    target_text = target_hotel['text'].iloc[0]
    target_ratings = target_hotel[aspects].iloc[0]
    
    # Build BM25 model for the sample
    tokenized_texts = [text.split() for text in comparison_df['text']]
    bm25_model = BM25Okapi(tokenized_texts)
    
    # Prepare texts and calculate BM25 scores
    tokenized_target_text = target_text.split()
    scores = bm25_model.get_scores(tokenized_target_text)
    
    # Add BM25 scores to DataFrame
    comparison_df = comparison_df.reset_index(drop=True)  # Reset index to avoid errors
    comparison_df['bm25_score'] = scores
    
    # Exclude target hotel from recommendations
    recommendations_df = comparison_df[comparison_df['offering_id'] != target_hotel_id]
    
    # Sort by descending BM25 score and take top 10
    top_recommendations = recommendations_df.nlargest(10, 'bm25_score')
    
    # Calculate MSE for each recommended hotel
    recommendations = []
    for _, row in top_recommendations.iterrows():
        mse = ((target_ratings - row[aspects]) ** 2).mean()
        recommendations.append({
            'offering_id': row['offering_id'],
            'bm25_score': row['bm25_score'],
            'mse': mse,
            'ratings': row[aspects].to_dict()
        })
    
    # Calculate average MSE of recommendations
    avg_mse = sum([rec['mse'] for rec in recommendations]) / len(recommendations)
    
    return avg_mse, recommendations

### Testing the Base BM25 Model

#### Overview
- In this phase, we will:
    1. Test our baseline BM25 model using sample queries
    2. Evaluate the model's performance with raw, unprocessed text
    3. Document the results to establish a baseline for comparison

#### Expected Outcomes
- Understanding of base model performance
- Identification of potential areas for improvement
- Baseline metrics for comparing with future enhanced models

In [27]:
NUM_QUERIES = 50
NUM_COMPARISON_HOTELS = 2000

all_mse_scores = []

print("Base BM25 Test Results:")
print("-" * 80)

for i in range(NUM_QUERIES):
    # 1. Select a target hotel
    target_hotel = df.sample(n=1).iloc[0]
    target_id = target_hotel['offering_id']
    
    # 2. Create a subsample of hotels
    comparison_df = df[df['offering_id'] != target_id].sample(n=NUM_COMPARISON_HOTELS)
    comparison_df = pd.concat([comparison_df, target_hotel.to_frame().T])  # Include target hotel
    
    # 3. Evaluate recommendations
    avg_mse, recommendations = evaluate_recommendations(target_id, comparison_df)
    all_mse_scores.append(avg_mse)
    
    # 4. Display results for each query
    print(f"Query {i+1}/{NUM_QUERIES}")
    print(f"Target Hotel ID: {target_id}")
    print(f"Average MSE for top 10 recommendations: {avg_mse:.4f}")
    print("-" * 80)

# Calculate overall performance
if all_mse_scores:
    overall_avg_mse = sum(all_mse_scores) / len(all_mse_scores)
    print("\nOverall Performance:")
    print(f"Average MSE over {len(all_mse_scores)} queries: {overall_avg_mse:.4f}")

Base BM25 Test Results:
--------------------------------------------------------------------------------
Query 1/50
Target Hotel ID: 98856
Average MSE for top 10 recommendations: 0.1231
--------------------------------------------------------------------------------
Query 2/50
Target Hotel ID: 74587
Average MSE for top 10 recommendations: 0.2766
--------------------------------------------------------------------------------
Query 3/50
Target Hotel ID: 112039
Average MSE for top 10 recommendations: 0.1603
--------------------------------------------------------------------------------
Query 4/50
Target Hotel ID: 109468
Average MSE for top 10 recommendations: 0.2449
--------------------------------------------------------------------------------
Query 5/50
Target Hotel ID: 217550
Average MSE for top 10 recommendations: 0.2648
--------------------------------------------------------------------------------
Query 6/50
Target Hotel ID: 81315
Average MSE for top 10 recommendations: 0.0887
--------------------------------------------------------------------------------
Query 7/50
Target Hotel ID: 84131
Average MSE for top 10 recommendations: 0.1174
--------------------------------------------------------------------------------
Query 8/50
Target Hotel ID: 1486231
Average MSE for top 10 recommendations: 0.1745
--------------------------------------------------------------------------------
Query 9/50
Target Hotel ID: 267182
Average MSE for top 10 recommendations: 0.6742
--------------------------------------------------------------------------------
Query 10/50
Target Hotel ID: 119710
Average MSE for top 10 recommendations: 0.2291
--------------------------------------------------------------------------------
Query 11/50
Target Hotel ID: 1236686
Average MSE for top 10 recommendations: 0.3821
--------------------------------------------------------------------------------
Query 12/50
Target Hotel ID: 543136
Average MSE for top 10 recommendations: 0.5989
--------------------------------------------------------------------------------
Query 13/50
Target Hotel ID: 99421
Average MSE for top 10 recommendations: 0.1558
--------------------------------------------------------------------------------
Query 14/50
Target Hotel ID: 625154
Average MSE for top 10 recommendations: 0.3196
--------------------------------------------------------------------------------
Query 15/50
Target Hotel ID: 105180
Average MSE for top 10 recommendations: 0.3067
--------------------------------------------------------------------------------
Query 16/50
Target Hotel ID: 77638
Average MSE for top 10 recommendations: 0.1282
--------------------------------------------------------------------------------
Query 17/50
Target Hotel ID: 114608
Average MSE for top 10 recommendations: 0.4342
--------------------------------------------------------------------------------
Query 18/50
Target Hotel ID: 256738
Average MSE for top 10 recommendations: 0.7670
--------------------------------------------------------------------------------
Query 19/50
Target Hotel ID: 88419
Average MSE for top 10 recommendations: 4.8145
--------------------------------------------------------------------------------
Query 20/50
Target Hotel ID: 1164501
Average MSE for top 10 recommendations: 0.2525
--------------------------------------------------------------------------------
Query 21/50
Target Hotel ID: 82491
Average MSE for top 10 recommendations: 0.1223
--------------------------------------------------------------------------------
Query 22/50
Target Hotel ID: 1858908
Average MSE for top 10 recommendations: 0.5984
--------------------------------------------------------------------------------
Query 23/50
Target Hotel ID: 1175436
Average MSE for top 10 recommendations: 0.3838
--------------------------------------------------------------------------------
Query 24/50
Target Hotel ID: 217240
Average MSE for top 10 recommendations: 2.5316
--------------------------------------------------------------------------------
Query 25/50
Target Hotel ID: 109413
Average MSE for top 10 recommendations: 0.1115
--------------------------------------------------------------------------------
Query 26/50
Target Hotel ID: 266157
Average MSE for top 10 recommendations: 0.0524
--------------------------------------------------------------------------------
Query 27/50
Target Hotel ID: 90918
Average MSE for top 10 recommendations: 0.7871
--------------------------------------------------------------------------------
Query 28/50
Target Hotel ID: 1236696
Average MSE for top 10 recommendations: 0.2284
--------------------------------------------------------------------------------
Query 29/50
Target Hotel ID: 91474
Average MSE for top 10 recommendations: 0.2647
--------------------------------------------------------------------------------
Query 30/50
Target Hotel ID: 256730
Average MSE for top 10 recommendations: 0.3692
--------------------------------------------------------------------------------
Query 31/50
Target Hotel ID: 93466
Average MSE for top 10 recommendations: 0.1271
--------------------------------------------------------------------------------
Query 32/50
Target Hotel ID: 526841
Average MSE for top 10 recommendations: 0.2313
--------------------------------------------------------------------------------
Query 33/50
Target Hotel ID: 87617
Average MSE for top 10 recommendations: 0.1046
--------------------------------------------------------------------------------
Query 34/50
Target Hotel ID: 259008
Average MSE for top 10 recommendations: 0.1010
--------------------------------------------------------------------------------
Query 35/50
Target Hotel ID: 248358
Average MSE for top 10 recommendations: 0.2428
--------------------------------------------------------------------------------
Query 36/50
Target Hotel ID: 81803
Average MSE for top 10 recommendations: 0.1343
--------------------------------------------------------------------------------
Query 37/50
Target Hotel ID: 223178
Average MSE for top 10 recommendations: 0.4377
--------------------------------------------------------------------------------
Query 38/50
Target Hotel ID: 124066
Average MSE for top 10 recommendations: 0.7698
--------------------------------------------------------------------------------
Query 39/50
Target Hotel ID: 571166
Average MSE for top 10 recommendations: 0.1781
--------------------------------------------------------------------------------
Query 40/50
Target Hotel ID: 99514
Average MSE for top 10 recommendations: 2.0681
--------------------------------------------------------------------------------
Query 41/50
Target Hotel ID: 217744
Average MSE for top 10 recommendations: 0.3112
--------------------------------------------------------------------------------
Query 42/50
Target Hotel ID: 498305
Average MSE for top 10 recommendations: 0.3481
--------------------------------------------------------------------------------
Query 43/50
Target Hotel ID: 1592809
Average MSE for top 10 recommendations: 0.1834
--------------------------------------------------------------------------------
Query 44/50
Target Hotel ID: 109789
Average MSE for top 10 recommendations: 0.1046
--------------------------------------------------------------------------------
Query 45/50
Target Hotel ID: 98820
Average MSE for top 10 recommendations: 1.6541
--------------------------------------------------------------------------------
Query 46/50
Target Hotel ID: 2039194
Average MSE for top 10 recommendations: 0.3326
--------------------------------------------------------------------------------
Query 47/50
Target Hotel ID: 122699
Average MSE for top 10 recommendations: 0.1025
--------------------------------------------------------------------------------
Query 48/50
Target Hotel ID: 223203
Average MSE for top 10 recommendations: 0.0959
--------------------------------------------------------------------------------
Query 49/50
Target Hotel ID: 93593
Average MSE for top 10 recommendations: 0.1564
--------------------------------------------------------------------------------
Query 50/50
Target Hotel ID: 278567
Average MSE for top 10 recommendations: 0.1411
--------------------------------------------------------------------------------

Overall Performance:
Average MSE over 50 queries: 0.4757

In [32]:
def get_hotel_details(df, hotel_id):
    """
    Get and print details for a specific hotel from the dataframe.
    
    Args:
        df: Pandas DataFrame containing hotel data
        hotel_id: ID of the hotel to look up
    """
    hotel_details = df[df['offering_id'] == hotel_id][['text', 'service', 'cleanliness', 
                                                      'value', 'sleep_quality', 'rooms', 
                                                      'location', 'overall']]

    if not hotel_details.empty:
        print("Hotel Reviews and Ratings:")
        print("\nText:")
        print(hotel_details['text'].values[0])
        print("\nRatings:")
        print(f"Service: {hotel_details['service'].values[0]:.2f}")
        print(f"Cleanliness: {hotel_details['cleanliness'].values[0]:.2f}")
        print(f"Value: {hotel_details['value'].values[0]:.2f}")
        print(f"Sleep Quality: {hotel_details['sleep_quality'].values[0]:.2f}")
        print(f"Rooms: {hotel_details['rooms'].values[0]:.2f}")
        print(f"Location: {hotel_details['location'].values[0]:.2f}")
        print(f"Overall: {hotel_details['overall'].values[0]:.2f}")
    else:
        print(f"No data found for hotel ID {hotel_id}")

### Analyzing Hotels with Poor MSE Scores

In this section, we'll examine specific hotel IDs that showed high Mean Squared Error (MSE) scores in our recommendations. By analyzing these cases where the model performed poorly, we can better understand:

1. The characteristics of these hotels
2. Why the recommendations may have been inaccurate
3. Potential improvements to our recommendation system

In [ ]:
# Get details for specific hotels
hotel_ids = [99514, 98820, 217240, 88419]

print("Getting details for selected hotels...")
for hotel_id in hotel_ids:
    print("\n" + "="*80)
    print(f"\nHotel ID: {hotel_id}")
    get_hotel_details(df, hotel_id)

### Analysis of Poor MSE Scores

We find that the queries that get bad MSE scores are predominantly associated with hotels that have poor ratings. The model appears to have more difficulty finding similar hotels when the target hotel has negative reviews, suggesting that matching negative experiences may be inherently more challenging than matching positive ones.

# Better version than Model BM25

### Part 1 : Preprocessed Data
Text preprocessing to improve BM25 search quality by cleaning and standardizing review text through:
- Lowercase conversion
- Special character removal
- Stopword removal
- Word lemmatization

In [30]:
import re
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

# Download required NLTK data
nltk.download('punkt_tab')
nltk.download('stopwords') 
nltk.download('wordnet')

# Initialize lemmatizer and get stopwords
lemmatizer = WordNetLemmatizer()
stop_words = set(stopwords.words('english'))

def clean_text(text):
    """
    Clean text by:
    1. Converting to lowercase
    2. Removing special characters and punctuation (keeping newlines)
    3. Removing stopwords
    4. Lemmatizing words
    """
    # Convert to lowercase
    text = text.lower()
    
    # Remove special characters and punctuation but keep newlines
    text = re.sub(r'[^\w\s\n]', ' ', text)
    
    # Tokenize
    words = word_tokenize(text)
    
    # Remove stopwords and lemmatize
    words = [lemmatizer.lemmatize(word) for word in words if word not in stop_words and not word.isnumeric()]
    
    # Join words back together, preserving newlines
    cleaned_text = ' '.join(words)
    
    return cleaned_text

# Create a copy of the dataframe for cleaned version
df_cleaned = df.copy()

# Apply text cleaning to the text column of the cleaned dataframe
df_cleaned['text'] = df_cleaned['text'].apply(clean_text)

[nltk_data] Downloading package punkt_tab to
[nltk_data]     /Users/oceanspiess/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/oceanspiess/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/oceanspiess/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [35]:
# Preprocessed BM25 Test
NUM_QUERIES = 50
NUM_COMPARISON_HOTELS = 2000

all_mse_scores = []

print("Preprocessed BM25 Test Results:")
print("-" * 80)

for i in range(NUM_QUERIES):
    # 1. Select a target hotel from the cleaned dataset
    target_hotel = df_cleaned.sample(n=1).iloc[0]
    target_id = target_hotel['offering_id']
    
    # 2. Create a subsample of hotels for comparison
    comparison_df = df_cleaned[df_cleaned['offering_id'] != target_id].sample(n=NUM_COMPARISON_HOTELS)
    comparison_df = pd.concat([comparison_df, target_hotel.to_frame().T])
    
    # 3. Evaluate recommendations (removed bm25_preprocessed parameter)
    avg_mse, recommendations = evaluate_recommendations(target_id, comparison_df)
    all_mse_scores.append(avg_mse)
    
    # 4. Display results for each query
    print(f"Query {i+1}/{NUM_QUERIES}")
    print(f"Target Hotel ID: {target_id}")
    print(f"Average MSE for top 10 recommendations: {avg_mse:.4f}")
    print("-" * 80)

# Calculate overall performance for the preprocessed BM25 model
if all_mse_scores:
    overall_avg_mse = sum(all_mse_scores) / len(all_mse_scores)
    print("\nOverall Performance with Preprocessed BM25:")
    print(f"Average MSE over {len(all_mse_scores)} queries: {overall_avg_mse:.4f}")

Preprocessed BM25 Test Results:
--------------------------------------------------------------------------------
Query 1/50
Target Hotel ID: 1641016
Average MSE for top 10 recommendations: 0.1464
--------------------------------------------------------------------------------
Query 2/50
Target Hotel ID: 656235
Average MSE for top 10 recommendations: 0.0689
--------------------------------------------------------------------------------
Query 3/50
Target Hotel ID: 1140049
Average MSE for top 10 recommendations: 0.1226
--------------------------------------------------------------------------------
Query 4/50
Target Hotel ID: 88429
Average MSE for top 10 recommendations: 2.3986
--------------------------------------------------------------------------------
Query 5/50
Target Hotel ID: 94186
Average MSE for top 10 recommendations: 2.4701
--------------------------------------------------------------------------------
Query 6/50
Target Hotel ID: 1152288
Average MSE for top 10 recommendations: 0.1679
--------------------------------------------------------------------------------
Query 7/50
Target Hotel ID: 1158926
Average MSE for top 10 recommendations: 0.0930
--------------------------------------------------------------------------------
Query 8/50
Target Hotel ID: 77264
Average MSE for top 10 recommendations: 0.1060
--------------------------------------------------------------------------------
Query 9/50
Target Hotel ID: 1858908
Average MSE for top 10 recommendations: 0.8206
--------------------------------------------------------------------------------
Query 10/50
Target Hotel ID: 123898
Average MSE for top 10 recommendations: 0.5594
--------------------------------------------------------------------------------
Query 11/50
Target Hotel ID: 1201116
Average MSE for top 10 recommendations: 0.1283
--------------------------------------------------------------------------------
Query 12/50
Target Hotel ID: 112311
Average MSE for top 10 recommendations: 0.1020
--------------------------------------------------------------------------------
Query 13/50
Target Hotel ID: 596013
Average MSE for top 10 recommendations: 0.0896
--------------------------------------------------------------------------------
Query 14/50
Target Hotel ID: 292140
Average MSE for top 10 recommendations: 0.3404
--------------------------------------------------------------------------------
Query 15/50
Target Hotel ID: 84453
Average MSE for top 10 recommendations: 0.1242
--------------------------------------------------------------------------------
Query 16/50
Target Hotel ID: 223042
Average MSE for top 10 recommendations: 0.1120
--------------------------------------------------------------------------------
Query 17/50
Target Hotel ID: 1845644
Average MSE for top 10 recommendations: 0.1586
--------------------------------------------------------------------------------
Query 18/50
Target Hotel ID: 112175
Average MSE for top 10 recommendations: 0.8255
--------------------------------------------------------------------------------
Query 19/50
Target Hotel ID: 99488
Average MSE for top 10 recommendations: 0.1269
--------------------------------------------------------------------------------
Query 20/50
Target Hotel ID: 84515
Average MSE for top 10 recommendations: 0.5353
--------------------------------------------------------------------------------
Query 21/50
Target Hotel ID: 112280
Average MSE for top 10 recommendations: 1.5155
--------------------------------------------------------------------------------
Query 22/50
Target Hotel ID: 590278
Average MSE for top 10 recommendations: 0.2011
--------------------------------------------------------------------------------
Query 23/50
Target Hotel ID: 223830
Average MSE for top 10 recommendations: 0.0805
--------------------------------------------------------------------------------
Query 24/50
Target Hotel ID: 98815
Average MSE for top 10 recommendations: 0.1575
--------------------------------------------------------------------------------
Query 25/50
Target Hotel ID: 677854
Average MSE for top 10 recommendations: 0.2605
--------------------------------------------------------------------------------
Query 26/50
Target Hotel ID: 99132
Average MSE for top 10 recommendations: 0.1142
--------------------------------------------------------------------------------
Query 27/50
Target Hotel ID: 292142
Average MSE for top 10 recommendations: 0.1440
--------------------------------------------------------------------------------
Query 28/50
Target Hotel ID: 1872507
Average MSE for top 10 recommendations: 1.2228
--------------------------------------------------------------------------------
Query 29/50
Target Hotel ID: 99535
Average MSE for top 10 recommendations: 0.1411
--------------------------------------------------------------------------------
Query 30/50
Target Hotel ID: 239352
Average MSE for top 10 recommendations: 1.0509
--------------------------------------------------------------------------------
Query 31/50
Target Hotel ID: 82650
Average MSE for top 10 recommendations: 0.1435
--------------------------------------------------------------------------------
Query 32/50
Target Hotel ID: 223684
Average MSE for top 10 recommendations: 0.4953
--------------------------------------------------------------------------------
Query 33/50
Target Hotel ID: 268207
Average MSE for top 10 recommendations: 0.1799
--------------------------------------------------------------------------------
Query 34/50
Target Hotel ID: 114390
Average MSE for top 10 recommendations: 0.2243
--------------------------------------------------------------------------------
Query 35/50
Target Hotel ID: 614758
Average MSE for top 10 recommendations: 0.2094
--------------------------------------------------------------------------------
Query 36/50
Target Hotel ID: 119382
Average MSE for top 10 recommendations: 0.1358
--------------------------------------------------------------------------------
Query 37/50
Target Hotel ID: 1647864
Average MSE for top 10 recommendations: 0.2746
--------------------------------------------------------------------------------
Query 38/50
Target Hotel ID: 1113787
Average MSE for top 10 recommendations: 0.0937
--------------------------------------------------------------------------------
Query 39/50
Target Hotel ID: 99103
Average MSE for top 10 recommendations: 0.0952
--------------------------------------------------------------------------------
Query 40/50
Target Hotel ID: 239912
Average MSE for top 10 recommendations: 0.2979
--------------------------------------------------------------------------------
Query 41/50
Target Hotel ID: 98634
Average MSE for top 10 recommendations: 0.0981
--------------------------------------------------------------------------------
Query 42/50
Target Hotel ID: 288687
Average MSE for top 10 recommendations: 0.8495
--------------------------------------------------------------------------------
Query 43/50
Target Hotel ID: 465532
Average MSE for top 10 recommendations: 0.2236
--------------------------------------------------------------------------------
Query 44/50
Target Hotel ID: 501984
Average MSE for top 10 recommendations: 0.1608
--------------------------------------------------------------------------------
Query 45/50
Target Hotel ID: 224279
Average MSE for top 10 recommendations: 0.0889
--------------------------------------------------------------------------------
Query 46/50
Target Hotel ID: 93430
Average MSE for top 10 recommendations: 0.0658
--------------------------------------------------------------------------------
Query 47/50
Target Hotel ID: 98069
Average MSE for top 10 recommendations: 3.4675
--------------------------------------------------------------------------------
Query 48/50
Target Hotel ID: 112154
Average MSE for top 10 recommendations: 0.0560
--------------------------------------------------------------------------------
Query 49/50
Target Hotel ID: 675616
Average MSE for top 10 recommendations: 0.0817
--------------------------------------------------------------------------------
Query 50/50
Target Hotel ID: 109101
Average MSE for top 10 recommendations: 0.2191
--------------------------------------------------------------------------------

Overall Performance with Preprocessed BM25:
Average MSE over 50 queries: 0.4369

### part 2 : Fine tune k1 and b parameters

- We are gonna change the two main parameter k1 and b of the BM25 model and see how it affects the performance

In [40]:
k1_values = np.linspace(0.5, 2.0, 4)
b_values = np.linspace(0.5, 1.0, 6)

best_k1, best_b, best_score = None, None, float('inf')

print("Fine-tuning BM25 Parameters (k1, b):")
print("-" * 80)

for k1 in k1_values:
    for b in b_values:
        print(f"Testing BM25 with k1={k1}, b={b}")
        all_mse_scores = []

        # Iterate through each query
        for i in range(30):
            # Select a target hotel
            target_hotel = df.sample(n=1).iloc[0]
            target_id = target_hotel['offering_id']

            # Create a subsample of hotels for this query
            comparison_df = df[df['offering_id'] != target_id].sample(n=100)
            comparison_df = pd.concat([comparison_df, target_hotel.to_frame().T])  # Include target hotel
            
            # Tokenize the corpus dynamically
            tokenized_corpus = [doc.split() for doc in comparison_df['text']]
            
            # Create BM25 model with current k1 and b
            bm25 = BM25Okapi(tokenized_corpus, k1=k1, b=b)
            
            # Evaluate recommendations
            avg_mse, recommendations = evaluate_recommendations(target_id, comparison_df)  # Remove bm25 parameter
            all_mse_scores.append(avg_mse)

        # Calculate overall performance for this parameter combination
        overall_avg_mse = sum(all_mse_scores) / len(all_mse_scores)
        print(f"Average MSE across all queries: {overall_avg_mse:.4f}")
        print("-" * 70)

        # Update best parameters if performance improves
        if overall_avg_mse < best_score:
            best_k1, best_b, best_score = k1, b, overall_avg_mse

print(f"\nBest combination: k1={best_k1}, b={best_b} with Average MSE={best_score:.4f}")

Fine-tuning BM25 Parameters (k1, b):
--------------------------------------------------------------------------------
Testing BM25 with k1=0.5, b=0.5
Average MSE across all queries: 0.7942
----------------------------------------------------------------------
Testing BM25 with k1=0.5, b=0.6
Average MSE across all queries: 1.0681
----------------------------------------------------------------------
Testing BM25 with k1=0.5, b=0.7
Average MSE across all queries: 0.8300
----------------------------------------------------------------------
Testing BM25 with k1=0.5, b=0.8
Average MSE across all queries: 0.8956
----------------------------------------------------------------------
Testing BM25 with k1=0.5, b=0.9
Average MSE across all queries: 0.9230
----------------------------------------------------------------------
Testing BM25 with k1=0.5, b=1.0
Average MSE across all queries: 1.1525
----------------------------------------------------------------------
Testing BM25 with k1=1.0, b=0.5
Average MSE across all queries: 1.0721
----------------------------------------------------------------------
Testing BM25 with k1=1.0, b=0.6
Average MSE across all queries: 1.2068
----------------------------------------------------------------------
Testing BM25 with k1=1.0, b=0.7
Average MSE across all queries: 1.1349
----------------------------------------------------------------------
Testing BM25 with k1=1.0, b=0.8
Average MSE across all queries: 0.6729
----------------------------------------------------------------------
Testing BM25 with k1=1.0, b=0.9
Average MSE across all queries: 0.5309
----------------------------------------------------------------------
Testing BM25 with k1=1.0, b=1.0
Average MSE across all queries: 0.5504
----------------------------------------------------------------------
Testing BM25 with k1=1.5, b=0.5
Average MSE across all queries: 1.1332
----------------------------------------------------------------------
Testing BM25 with k1=1.5, b=0.6
Average MSE across all queries: 0.5813
----------------------------------------------------------------------
Testing BM25 with k1=1.5, b=0.7
Average MSE across all queries: 1.8419
----------------------------------------------------------------------
Testing BM25 with k1=1.5, b=0.8
Average MSE across all queries: 0.7972
----------------------------------------------------------------------
Testing BM25 with k1=1.5, b=0.9
Average MSE across all queries: 0.7738
----------------------------------------------------------------------
Testing BM25 with k1=1.5, b=1.0
Average MSE across all queries: 0.7916
----------------------------------------------------------------------
Testing BM25 with k1=2.0, b=0.5
Average MSE across all queries: 0.7889
----------------------------------------------------------------------
Testing BM25 with k1=2.0, b=0.6
Average MSE across all queries: 0.6881
----------------------------------------------------------------------
Testing BM25 with k1=2.0, b=0.7
Average MSE across all queries: 0.3837
----------------------------------------------------------------------
Testing BM25 with k1=2.0, b=0.8
Average MSE across all queries: 0.8885
----------------------------------------------------------------------
Testing BM25 with k1=2.0, b=0.9
Average MSE across all queries: 1.3829
----------------------------------------------------------------------
Testing BM25 with k1=2.0, b=1.0
Average MSE across all queries: 0.3824
----------------------------------------------------------------------

Best combination: k1=2.0, b=1.0 with Average MSE=0.3824

#### The best performing model in our use case is the one with k1=2.0 and b=1.0 with a better MSE score compared to the base model.

### Part 3 : Further Exploration

- The performance can be further improved with embeddings (to make link between sentences with same meaning)
- 3 steps :
    - Convert every text into vector with a model trained on comments and review if possible
    - Store all embeddings
    - Convert the query into vector as well and compare the cosine_similarity with every embeddings to find top k vector
    (it's possible to use a vector search to better performance if the df is too big)